@import 'apps/rh-controle-web/src/assets/scss/variables';

.footer-modal .footer-btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card {
  // box-shadow: 0px 2px 2px rgba(187, 204, 221, 0.4);
  box-shadow: 0px 5px 5px rgba(187, 204, 221, 0.4), 0px 10px 10px rgba(187, 204, 221, 0.4);
  background: $cor-branco;
  border-radius: $radius;
  padding: 1.5rem;
  height: 100%;

  .titulo {
    font-size: 2rem;
    margin-bottom: 1.25rem;
    position: relative;
    z-index: 1;
    font-weight: 700;
    line-height: 1.2;
    color: $cor-secundaria;
    max-width: calc(100% - 2rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.filtro-btn-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;

}

.filtro {
  display: flex;
}

.content-table {
  // max-height: 69vh;
  // overflow: auto;
  margin-top: 3rem;
  overflow: auto;
  max-height: calc(100svh - 20.8rem);
  position: relative;
}
@media (max-width: $break-desktop-hd) {
  .content-table {
    max-height: 58vh;
    overflow: auto;
  }
}

@media (max-width: $break-phablet) {
  .filtro {
    width: 100%;
    margin-bottom: 1rem;
  }

  .filtro-btn-content {
    justify-content: flex-end;
  }
}


@media screen and (max-width: $break-phablet)  {
  .card {
    padding: 1.5rem $size-10;
  }
}

@mixin cdk-column($width) {
  @extend %cdk-column-base;
  flex-basis: $width;
}

.cdk-column {

  &-status {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

.status {
  width: 0.875rem;
  height: 0.875rem;
  margin: 0 auto;
  border-radius: 50%;
}

.ativo-status {
  background: $cor-principal;
}

.inativo-status {
  background: $color-red;
}

.invalid {
  color: $color-red !important;
  font-size: 0.75rem;
}